
@font-face {
   font-family: "Nunitio";
   src: url("./fonts/Nunito-Regular.ttf");
 }
 @font-face {
   font-family: "Nunitio-Black";
   src: url("./fonts/Nunito-Black.ttf");
 }

 /*nav {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    border:2px solid black;
    border-radius: 5px;
    height:50px;
    background-color: skyblue;
    text-align: center;
    position: fixed;
    width: 99%;
    top: 0;
  }*/
  /* nav a {
    text-decoration: none;
  }
  nav a:visited {
    color:rgb(43, 113, 160);
  }*/
  a:visited {
    color:rgb(43, 113, 160);
  }
 /* nav li {
    list-style:none;
    margin:auto;
  }*/

nav a{
  font-size: 16px;
  padding: 10px;
  transition: 0.5s;
  color: white !important;
  text-decoration: none;
      font-family: "Nunitio-Black" !important;
}
nav a:hover{
  background: white !important;
  box-shadow: 0px 0px 5px lightgray;
  color: black !important;
}
nav{
  line-height: 35px;
  height: 35px;
  background: lightblue;
  border: none;
  width: 99%;
}

  input {
    background-color:lightblue;
  }
  input:active {
    background-color:blue;
    color:white;
  }
  .content {
    border:3px solid darkblue;
    border-radius:25px;
    background-color: lightblue;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: 99%;
    text-align: left;
    vertical-align: middle !important;
  }
  input {
    border:none;
  }
  .subcont {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.contest {
    border: 3px solid rgb(43, 113, 160);
    background-color: lightblue;
    display: inline-block;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 90%;
  }
  div.explanation {
    border: 3px solid darkblue;
    background-color: lightskyblue;
    display: inline-block;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 90%;
  }
  .image {
    border: 3px solid darkblue;
    border-radius: 5px;
  }
  .column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    font-family: "Nunitio";
  }
