
@font-face {
   font-family: "Nunitio";
   src: url("./fonts/Nunito-Regular.ttf");
 }
 @font-face {
   font-family: "Nunitio-Black";
   src: url("./fonts/Nunito-Black.ttf");
 }

 nav {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    border:1px solid black;
    height:50px;
    background-color: lightblue;
    position: fixed;
    width: 99%;
    top: 0;
  }
  nav * {
    font-family: "Nunitio-Black" !important;
  }
  nav a {
    text-decoration: none;
  }
  nav a:visited {
    color:rgb(43, 113, 160);
  }
  a:visited {
    color:rgb(43, 113, 160);
  }
  nav li {
    list-style:none;
    margin:auto;
  }
  input {
    background-color:lightblue;
  }
  input:active {
    background-color:blue;
    color:white;
  }
  .content {
    border:3px solid blue;
    border-radius:25px;
    background-color: lightblue;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: 40%;
    vertical-align: middle !important;
  }
  input {
    border:none;
  }
  .subcont {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.contest {
    border: 3px solid blue;
    background-color: lightblue;
    display: inline-block;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
  }
  img {
    border: 3px solid blue;
    border-radius: 5px;
  }
  * {
    font-family: "Nunitio";
  }